* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

html {
    height: 100vh;
    /* width: 100vw; */
    overflow-x: clip;
}

:root {
    --violet: #7573fc;
    --orange: orangered;
}

body {
    height: 100%;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--violet);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5f5df3;
}

main {
    background: url(../images/fstg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}
main.home_main {
    height: 85vh;
}

main div div.container-fluid {
    box-shadow: 0px 0px 20px 0px #000;
}

h3.auth {
    background-color: var(--violet);
    border-color: var(--violet) !important;
    box-shadow: 0px 0px 15px 0px #000;
}

.fst_link:hover {
    color: var(--violet) !important;
    cursor: pointer;
}

p.forgot a {
    color: var(--violet);
    transition: all 0.3s ease;
}

p a:hover {
    color: var(--orange);
}

p small a {
    color: var(--violet);
}

input::placeholder {
    font-size: 0.9rem;
}

i.fa-solid {
    position: absolute;
    top: 3.3em;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #6c757d;
}

i.fa-caret-down,
i.fa-caret-up {
    background-color: #fff;
    position: absolute;
    top: 1.9em;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    color: #666;
    font-size: 25px;
}

label.error {
    color: red;
    margin-left: 0.5rem;
}

.downloadButton {
    background-color: DodgerBlue;
    width: 280px;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: white;
    border: none;
}

.downloadButton:hover {
    background-color: RoyalBlue;
}

div.infos {
    background: #f5f5f5;
}

input.date {
    font-size: 0.93em;
}

#list_entr {
    z-index: 1000;
    max-width: 14rem;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    right: 11px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.175);
}

#list_entr > li {
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
#list_entr > li:hover,
#list_entr > li:focus {
    cursor: pointer;
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
