* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

html {
    height: 100vh;
    overflow-x: clip;
}

:root {
    --violet: #7573fc;
    --orange: orangered;
}

body {
    height: 100%;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: var(--violet);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5f5df3;
}

@media screen and (max-width: 425px) {
    ::-webkit-scrollbar {
        width: 0;
    }
}

@media screen and (max-width: 317px) {
    .reset_cont {
        padding: 1rem 0.45rem !important;
    }
    .reset_head {
        margin: 0 0.2rem 1rem !important;
    }
}

section {
    background: url('../images/fstg.jpg') center/cover no-repeat scroll;
    width: 100%;
    min-height: 90vh;
}

section.home_section {
    min-height: 95vh;
}

section.mdpo {
    background: url('../images/fstg-tree.jpg') center/cover no-repeat scroll;
}

section.reset {
    background: url('../images/background_fstg.jpg') center/cover no-repeat scroll;
}

section div div.container-fluid {
    box-shadow: 0px 0px 20px 0px #000;
}

h3.auth {
    background-color: var(--violet);
    border-color: var(--violet) !important;
    box-shadow: 0px 0px 15px 0px #000;
}

.reset_head {
    font-size: 1.46rem;
}

.fst_link {
    transition: all 0.2s ease;
}

.fst_link:hover {
    color: var(--violet) !important;
    text-shadow: 0 0 2px #ff0000, 0 0 2px #0000ff;
    cursor: pointer;
}

.nav_ul li p,
.nav_ul li a {
    position: relative;
}

.nav_ul li p::before,
.nav_ul li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--violet);
    transition: all 0.5s ease;
}

.nav_ul li p:hover::before,
.nav_ul li a:hover::before {
    width: 100%;
}

.nav_ul li {
    margin: 0 5px;
}

.nav_ul li p.active_link,
.nav_ul li a.active_link {
    color: var(--violet) !important;
    text-shadow: 0 0 2px #ff0000, 0 0 2px #0000ff !important;
}

.nav_ul li p.active_link::before,
.nav_ul li a.active_link::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--violet);
    transition: all 0.3s ease;
}

.nav_ul li div p {
    margin-bottom: 0.5rem !important;
}

.nav-tabs li p {
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .showAe {
        width: 95px;
    }

    .showAc {
        width: 100px;
    }

    .showSt {
        width: 94px;
    }

    .lo_link {
        width: 126px !important;
    }
}

p.forgot a {
    color: var(--violet);
    transition: all 0.3s ease;
}

.admin_connect {
    transition: all 0.3s ease;
}

p a:hover,
.admin_connect:hover {
    color: var(--orange);
    text-shadow: 0 0 2px var(--orange);
}

p small a {
    color: var(--violet);
}

input::placeholder {
    font-size: 0.9rem;
}

i.fa-solid {
    position: absolute;
    top: 3.2em;
    transform: translateY(-50%);
    right: 10px;
    cursor: pointer;
    color: #6c757d;
}

i.fa-solid.reset_eye {
    right: 8px;
    top: 3.7em !important;
}

i.fa-caret-down,
i.fa-caret-up {
    background-color: #fff;
    position: absolute;
    top: 1.9em;
    transform: translateY(-50%);
    right: 20px;
    cursor: pointer;
    color: #666;
    font-size: 25px;
}

label.error {
    color: red;
    margin-left: 0.25rem;
    margin-top: 0.1rem;
}

label small {
    color: #21ac6b !important;
}

.writing {
    font-size: 22px;
    color: #21ac6b;
}

.submit_button {
    transition: all 0.2s ease-in-out;
}

.submit_button:hover {
    background-color: #25a267;
    border-color: #21ac6b;
    box-shadow: 0px 0px 1px 3px #21ac6b;
}

.downloadButton {
    background-color: DodgerBlue;
    width: 280px;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.downloadButton:hover {
    color: white;
    background-color: RoyalBlue;
    box-shadow: 0 0 3px 5px var(--violet);
}

div.infos {
    background: #f5f5f5;
}

input.date {
    font-size: 0.93em;
}

#list_entr {
    z-index: 1000;
    max-width: 14rem;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    right: 11px;
    background-color: #fff;
    background-clip: padding-box;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.175);
}

#list_entr > li {
    display: block;
    padding: 5px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
#list_entr > li:hover,
#list_entr > li:focus {
    cursor: pointer;
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
