Options All -Indexes

RewriteEngine On

RewriteBase /convstage/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^reset-password/username=([-a-zA-Z0-9]+)$ views/reset-password.php?username=$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([-a-zA-Z0-9]+)$ index.php?page=$1 [L]